

body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.5em; 
	background-color: #b0dfea;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

a, a:link, a:visited { 
	color: #de6d19; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

p { 
	color: #000;
	margin: 0 0 15px 0; 
	padding: 0; 
}

img { border: none; }

h1, h2, h3, h4, h5, h6 { 
	color: #333; 
}


h2 { 
	 font-size: 28px;
	 font-weight: normal;
	 margin: 0 0 30px 0;
	 font-weight: normal; }
h3 {
	color: coral;
	 font-size: 18px; 
	 margin: 0 0 15px 0; 
	 padding: 0; padding: 0; 
	 font-weight: normal;  
	}


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }


.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #ccc; 
	padding: 4px; 
	margin-bottom: 10px; 
	background: #fff; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px; 
}

cite { 
	font-weight: bold; 
	color:#333; 
}

cite span { 
	color: #666; 
}

em { 
	color: #000; 
}


.btn_more a {
	display: inline-block;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	padding: 2px 15px 2px 0;
	text-decoration: none;
}

.btn_more a:hover {
	padding-right: 20px;
	text-decoration: none;
}

.col_480 { width: 480px; } 
.col_200 { width: 200px; }

.service_list { 
	margin: 0 0 0 15px; 
	padding: 0; 
	list-style: none; 
}

.service_list li { 
	margin: 0; 
	padding: 0; 
}

.service_list li a { 
	font-size: 16px; 
	display: block; 
	height: 25px; 
	margin-bottom: 20px; 
	padding-left: 40px; 
	text-decoration: none; 
}

.service_list li .service_one { background: url(../images/onebit_12.png) center left no-repeat; }
.service_list li .service_two { background: url(../images/onebit_12.png) center left no-repeat; }
.service_list li .service_three { background: url(../images/onebit_12.png) center left no-repeat; }
.service_list li .service_four { background: url(../images/onebit_12.png) center left no-repeat; }
.service_list li .service_five { background: url(../images/onebit_12.png) center left no-repeat; }
.service_list li .service_six { background: url(../images/onebit_12.png) center left no-repeat; }


#slider {
    position: relative;
	width: 100%;
}

#tooplate_wrapper {
	width: 840px;
	padding: 40px 20px;
	margin: 0 auto;
}

#tooplate_sidebar {
	float: left;	
	width: 240px;
	padding-top: 20px
}

#header {
	width: 240px;
	text-align: left;
	margin-bottom: 20px
}

#header h1 { 
	margin: 0; 
	padding: 0; 
	height: 60px; 
	display: block; 
	text-indent: 0px; 
}

#menu {
	clear: both;
	width: 200px;
	height: 100px;
	padding: 20px;
	background: url(../images/background.jpg) no-repeat
}

#content {
	float: right;
	width: 568px;
	height: 558px;	
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.content_section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #666
}

.last_section {
	margin: 0;
	padding: 0;
	border: 0;
}

#footer {
	clear: both;
	width: 840px;
	padding: 0 0 30px;
	margin: 0 auto;
	text-align: right
}

#footer a {
	color: #000;
}

#social_box {
	height: 85px;
	padding: 0;
	text-align: right;
}

#social_box a {
	display: inline-block;
	margin-left: 20px;
	width: 60px; height: 60px;
}

.scroll {
    height: 478px;
    width: 488px;
	margin: 44px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    height: 478px;
    width: 488px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	padding: 0 0 6px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px dashed #666;
	color: #666;
	font-size: 18px;
	font-weight: 400;
    text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;	
}

ul.navigation a:hover, ul.navigation a.selected {
	color: black;
	padding-left: 10px;
}

ul.navigation a:focus {
    outline: none;
}

.hide {
    display: none;
}



/* gallery */

#gallery_container { 
	clear: both; 
	margin: 0; 
	padding: 0; 
} 

#gallery_container li {
	float: left;
	width: 210px;
	height: 100px;
	display: block; 
	padding: 0;
	margin: 0 30px 30px 0;
}

#gallery_container .odd { 
	margin: 0 0 40px 0; 
}

#gallery_container li img { 
	width: 200px; 
	height: 100px; 
	padding: 4px; 
	border: 1px solid #CCC; 
	background: #fff; 
}

/* end of gallery */